<!doctype html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='cirun.css') }}">
  <nav>
    <h1><a href="{{ url_for('index') }}">CIRun</a></h1>
    <ul>
      <li><span>Logged in as {{ current_user }}</span>
      <li><a href="{{ url_for('logout') }}">Log Out</a>
    </ul>
  </nav>
</head>

<body>
  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </section>
</body>
