{% extends 'base.html.j2' %}

{% block header %}
  <h1>{% block title %}Editing runner {{ runner.id }} (GitLab ID #{{ runner.gitlab_runner.id }}){% endblock %}</h1>
{% endblock %}

{% block content %}
  <div>
    <form action="{{ url_for('cirun.save_runner', id=runner.id) }}" method="POST">
      <div>
        <div><label for="name">Runner Name</label></div>
        <div><input type="text" id="name" name="name" placeholder="Name of runner" value="{{ runner.name }}"></div>
      </div>

      <div>
        <div><label for="url">URL</label></div>
        <div><input type="text" id="url" name="url" placeholder="URL of repository" value="{{ runner.url }}"></div>
      </div>

      <div>
        <div><label for="plugin">Plugin</label></div>
        <div>
          <select id="plugin" name="plugin">
          {%- for plugin_name in available_plugins %}
            <option value="{{ plugin_name }}" {%- if plugin_name == runner.plugin_name %} selected="selected"{% endif %}>{{ plugin_name }}</option>
          {%- endfor %}
          </select>
        </div>

        <div>
          <label for="tags">Tags</label>
          <input type="text" id="tags" name="tags" placeholder="Comma separated list of tags" value="{{ ','.join(runner.tags) }},">
        </div>
      </div>

      <div>
        <label for="active">Active?</label> <input type="checkbox" id="active" name="active" {%- if runner.active %} checked="checked"{% endif %}>
      </div>

      <input type="submit" value="Save">
    </form>
    <p><a href="{{ runner.url }}/runners/{{ runner.gitlab_runner.id }}/edit">Runner management page on GitLab</a></p>
  </div>
{% endblock %}
