{% extends 'base.html.j2' %}

{% block header %}
  <h1>{% block title %}Runner management{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h3>Available runners</h1>

  <table class="table table-bordered">
    <thead>
      <tr>
        <td>Name</td>
        <td>URL</td>
        <td>Plugin</td>
        <td>Tags</td>
        <td>Active?</td>
        <td>&nbsp;</td>
      </tr>
    </thead>

    <tbody>
      {%- for runner in runners %}
      <tr>
        <td>{{ runner.name }}</td>
        <td><a href="{{ runner.url }}">{{ runner.url }}</a></td>
        <td><code>{{ runner.plugin_name }}</code></td>
        <td>{% for tag in runner.tags %}<span class="runner_tag">{{ tag }}</span>{% endfor %}</td>
        <td style="text-align: center;"><input disabled="disabled" type="checkbox" {%- if runner.active %} checked="checked"{% endif %}/></td>
        <td style="text-align: center;"><a class="btn" href="{{ url_for('cirun.edit_runner', id=runner.id) }}"><input type="button" value="Edit"/></a></td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>

  <h3>Register a new runner</h1>
  <div>
    <form action="{{ url_for('cirun.register_runner') }}" method="POST">
      <div>
        <div><label for="name">Runner Name</label></div>
        <div><input type="text" id="name" name="name" placeholder="Name of runner"></div>

        <div><label for="name">Runner Token</label></div>
        <div><input type="text" id="name" name="token" placeholder="Runner token"></div>
      </div>

      <div>
        <div><label for="url">URL</label></div>
        <div><input type="text" id="url" name="url" placeholder="URL of repository"></div>
      </div>

      <div>
        <div><label for="plugin">Plugin</label></div>
        <div>
          <select id="plugin" name="plugin">
          {%- for plugin_name in available_plugins %}
            <option value="{{ plugin_name }}">{{ plugin_name }}</option>
          {%- endfor %}
          </select>
        </div>

        <div>
          <label for="tags">Tags</label>
          <input type="text" id="tags" name="tags" placeholder="Comma separated list of tags" value="cirun,">
        </div>
      </div>

      <div>
        <label for="active">Active?</label> <input type="checkbox" id="active" name="active" checked="checked">
        <label for="protected_only">Protected references only?</label> <input type="checkbox" id="protected_only" name="protected_only">
      </div>

      <input type="submit" value="Register">
    </form>
  </div>
{% endblock %}
